body {
  background: #e0e0e0;
}

img {
}

.logo {
  width: 200px;
  margin-right: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans";
  font-size: 12px;
  width: 100%;
  margin-bottom: 120px;
}

header .container{
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}

.welcome, header a, .shutdown {
  margin-top: 10px;
}

.container div {
  display: flex;
  align-items: center;
}

header a {
  font-weight: bold;  
  text-decoration: none;
  color: #FFF;
  padding: 7px;
  background-color: #e02041;
  border-radius: 8px;
  margin-right: 10px;
}


.food_holder {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.food_holder div {
  padding: 11px;
  background-color: #FFF;
}

.food_holder h3{
  margin-left: 20px;
}

section img {
  width: 522px;
}